body{
    margin: 0;    
    /* padding: 0; */
    box-sizing: border-box;
    padding: 3rem 12rem;
    height: 100vh;
    /* width: 100vw; */

    width: 100%;
    font-family: 'Times New Roman', Courier, sans-serif;
}

header{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
    /* width: 100%; */
}

.logo{
    height: 35px;
    margin-right: 50px;

}
.navbar{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.nav-actions{
    width: 30%;
    display: flex;
    justify-content: space-between;

}

.nav-actions a{
    text-decoration: none;
    cursor: pointer;
}

.nav-btns{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.signBtn{
    width: 90px;
    height: 40px;
    color: #0070A0;
    border: none;
    background-color: transparent;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.demoBtn{
    width: 140px;
    height: 40px;
    color: white;
    background-color: #0070A0;
    border: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 0 0 0;
    border-top: 1px solid #ccc;
}

.footer-logo{
    height: 35px;
    margin-right: 50px;
}

.footer-navbar{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.footer-nav-actions{
    display: flex;
    gap: 20px;
}

.footer-nav-actions a{
    text-decoration: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 15px;
    color: black;
}

.footer-btns{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}


main{
    display: flex;
    width: 100%;
    /* align-items: center; */
    flex-direction: column;
}


.features-container{
    width: 100%;
    flex: 1  ;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 40px 0;
}

.features-texts{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* gap: 20px; */
    margin: 30px 0;
}

.features-texts h1{
    margin: 0;
    font-size: 58px;
    font-weight: 400;
    line-height: 64px;
    text-align: left;
}

.features-texts p{
    margin: 0;
    font-family: inherit;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    /* bottom: 0; */
}

.features-texts div{
    margin: 0;
}

.pricing-container{
    margin: 40px 0;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.pricing-title{
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;

}

.supporters{
    display: flex;
    /* width: 100%; */
    padding: 0 15rem;
    justify-content: space-between;
}

#focusfox{
    width: 124px;
    height: 33px;
}

#nowintech{
    width: 159px;
    height: 27px;
}

#optimer{
    width: 148px;
    height: 33px;
}

#carded{
    width: 117px;
    height: 34px;

}

.integration-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5rem 0;
}

.i-container{
    width: 355px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
}

.i-container img{
    margin-left: 30px;
    height: 55px;
    width: 55px;
}

.i-container h1{
    margin: 0;
    margin-left: 30px;
    font-size: 25px;
    font-weight: 500;
    padding: 0;
    line-height: 31.25px;
    text-align: left;
}


.i-container p{
    margin: 0;
    padding: 0;
    margin-left: 30px;
}

.fast{
    background-color: #FAEA73;
}

.buck{
    background-color: #CCEFF6;
}

.safe{
    background-color :#F7CEDC;
}

.learn-container {
    width: 100%;    
    margin: 5rem 0;
    display: flex;
    justify-content: space-between;
}

.learn-title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start
}
.learn-title h1 {
    font-size: 35px;
    font-weight: 400;
    line-height: 50px;
    text-align: left;
}

.learn-containers {
    display: flex;
    width: 60%;
    justify-content: space-between;
    gap: 30px;
}

.l-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.l-container img {
    height: 55px;
    width: 55px;
}

.l-container h3 {
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: 400;
    line-height: 31.25px;
    text-align: left;
    
}

.l-container p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
